* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
    {
        min-height: 100vh;
        display: flex;
        flex-direction: column ;
        font-family: Arial, Helvetica, sans-serif;
    }

.nav 
    {
        background-color:#0f172a;
        width: 100%;
        margin: 0;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

.nav a 
    {
        display: block;
        color: #f3eeee;
        text-align: center;
        padding: 10px 15px;
        text-decoration: none;
    }
.nav a:hover 
    {
        background-color: #1e293b;
        border-radius: 4px;
    }
img 
    {
        display: block;
        margin: 20px auto;
        max-width: 90%;
    }

p 
    {
        font-size: 18px;
        line-height: 1.6;
        color: #1e293b;
        background-color: #f1f5f9;
        padding: 20px;
        flex-grow: 1;
    }
h1 
    {
        font-size: 24px;
        color: #f3eeee;
        background-color: #1e293b;
        padding: 15px 20px;
    }
